* {
    font-family: "Poppins", sans-serif;
}

.navbar-logo {
    height: 60px;
    width: 139px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.nav-ops {
    gap: 32px;
    display: flex;
}

.navbar-btn {
    border: none;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    background-color: #469165;
    color: white;
    font-weight: 600;
}

.hero-sec {
    background-image: url("/assets/hero-bg.png");
    width: 100%;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-sec-img {
    height: 16px;
    width: 16px;
}

.bg-white {
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-weight: 500;
    color: #469165;
    gap: 6px;
    width: 229px;
    height: 35px;
}

.hero-sec-title {
    font-weight: 700px;
    font-size: 72px;
}

.text-white {
    color: white;
}

.color-green {
    color: #30B868;
}

.hero-sec-details {
    font-size: 18px;
    text-align: center;
}

.bg-green {
    background-color: #30B868;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
}

.start-build-btn-arrow {
    margin-left: 10px;
}

.color-white {
    color: white;
    font-weight: 600;
}

.color-black {
    color: black;
}

.hero-btn-sec {
    display: flex;
    gap: 16px;
}

.bg-transparent {
    background-color: transparent;
}

.hero-section-2nd-btn {
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px;
}

.dont-fail-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fail-sec-title {
    font-weight: 700;
    font-size: 48px;
}

.subtitle-color {
    color: #627382;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid rgb(218, 218, 218);
    height: 300px;
    width: 300px;
    text-align: center;
}

.card-img-container {
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-weight: 600;
    font-size: 24px;
}

.card-description {
    font-weight: 400;
    color: #627382;
}

.cards-container {
    display: flex;
    gap: 24px;
}

.your-second-brain-sec {
    display: flex;
    margin-top: 120px;
}

.second-brain-sec-img{
    height: 600px;
    width: 600px;
    margin-right: 60px;
}

.your-second-brain-title {
    font-weight: 700;
    font-size: 48px;
}

.second-brain-bullet-point{
    display: flex;
    align-items: center;
}

.bullet-point-img{
    height: 20px;
    width: 20px;
    margin-right: 6px;
}

.ready-to-think-more{
    width: 1360px;
    height: 384px;
    margin-top: 120px;
    background-color: #F7F6F2;
    margin-left: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ready-to-think-more-title{
    font-weight: 700px;
    font-size: 48px;
}

footer{
    margin-top: 120px;
    background-color: #001931;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
    height: 284px;
}

.logo-and-social-link-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-icon-container{
    color: white;
    gap: 16px;
}

.foot-logo {
    width: 139px;
    height: 60px;
}

.white-line {
    border-top: 1px solid #E5E7EB;
    height: 1px;
    width: 1360px;
    margin-bottom: 30px;
}

.footer-last-text {
    text-align: center;
    color: white;
}