* {
    font-family: "Poppins", sans-serif;
}

.navbar-logo {
    height: 60px;
    width: 139px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.nav-ops {
    gap: 32px;
    display: flex;
}

.navbar-btn {
    border: none;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    background-color: #469165;
    color: white;
    font-weight: 600;
}

.hero-sec {
    background-image: url("/assets/hero-bg.png");
    width: 100%;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}