* {
    font-family: "Poppins", sans-serif;
}

.navbar-logo {
    height: 60px;
    width: 139px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.nav-ops {
    gap: 32px;
    display: flex;
}

.navbar-btn {
    border: none;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    background-color: #469165;
    color: white;
    font-weight: 600;
}

.hero-sec {
    background-image: url("/assets/hero-bg.png");
    width: 100%;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-sec-img {
    height: 16px;
    width: 16px;
}

.bg-white {
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-weight: 500;
    color: #469165;
    gap: 6px;
    width: 229px;
    height: 35px;
}

.hero-sec-title {
    font-weight: 700px;
    font-size: 72px;
}

.text-white {
    color: white;
}

.color-green {
    color: #30B868;
}

.hero-sec-details {
    font-size: 18px;
    text-align: center;
}

.bg-green {
    background-color: #30B868;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
}

.start-build-btn-arrow {
    margin-left: 10px;
}

.color-white {
    color: white;
    font-weight: 600;
}

.color-black {
    color: black;
}

.hero-btn-sec {
    display: flex;
    gap: 16px;
}

.bg-transparent {
    background-color: transparent;
}

.hero-section-2nd-btn {
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px;
}

.dont-fail-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}